.heroContainer {
  padding-top: 97px;
}

@media (min-width: 768px) {
  .heroContainer {
    padding-top: 50px;
  }
}

.hero {
  height: 200px;
  background-color: #e1e1e1;
  overflow: hidden;
  background-position: center;
}

.pageContainer {
  max-width: 660px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .pageContainer {
    padding: 0;
  }
}
