.heroContainer {
  padding-top: 97px;
}
@media (min-width: 768px) {
  .heroContainer {
    padding-top: 50px;
  }
}

.hero {
  height: 200px;
  background-color: #e1e1e1;
  overflow: hidden;
  background-position: center;
  background-size: auto 200px;
}
@media (min-width: 1100px) {
  .hero {
    background-size: 100% auto;
  }
}

.tagContainer {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .pageContainer {
    padding: 0;
  }
}
