.heroContainer {
  padding-top: 97px;
}

@media (min-width: 768px) {
  .heroContainer {
    padding-top: 50px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #e1e1e1;
  text-transform: uppercase;
  overflow: hidden;
}

.pageContainer {
  max-width: 660px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  padding: 0;
}

.colorBlockContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 768px) {
  .colorBlockContainer {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

.colorBlockBlack {
  background: #373f49;
  color: #eee;
  padding: 0 20px;
  text-align: center;
  font-size: 0.75em;
}

.colorBlockMediumGray {
  background: #ddd;
  color: #373f49;
  padding: 0 20px;
  text-align: center;
  font-size: 0.75em;
}

.colorBlockGray {
  background: #eee;
  color: #373f49;
  padding: 0 20px;
  text-align: center;
  font-size: 0.75em;
}

.colorBlockWhite {
  background: #fff;
  border: 1px solid #eee;
  color: #373f49;
  padding: 0 20px;
  text-align: center;
  font-size: 0.75em;
}

.colorBlockCrimson {
  background: #d51034;
  color: #eee;
  padding: 0 20px;
  text-align: center;
  font-size: 0.75em;
}
