.navigationContainer {
  display: block;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid #eee;
  width: 100%;
  position: fixed;
  z-index: 1;
}
@media (min-width: 768px) {
  .navigationContainer {
    display: flex;
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
  font-size: 1em;
  width: 100%;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
  text-transform: uppercase;
  font-size: 0.75em;
}

.navigationItem a {
  color: currentColor;
  border: 0;
}
.navigationItem a:hover {
  color: #d51034;
}

.navigationLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', 'Crimson Text';
  font-size: 1.25em;
  margin: 0;
  width: 100%;
  margin-top: 10px;
  height: 36px;
}
@media (min-width: 768px) {
  .navigationLogo {
    justify-content: left;
    margin: 0 1em;
    height: auto;
  }
}
.navigationLogo a {
  border-bottom: 0;
}

@media (min-width: 1024px) {
  .navigation {
    margin-right: 20vw;
  }
  .navigationLogo {
    margin-left: 20vw;
  }
}
